* {
    box-sizing: border-box;
}

.clearfix {
    overflow: auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TT-Norms-Fonts/TTNorms-Regular.eot');
    src: url('../fonts/TT-Norms-Fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TT-Norms-Fonts/TTNorms-Regular.woff2') format('woff2'),
    url('../fonts/TT-Norms-Fonts/TTNorms-Regular.woff') format('woff'),
    url('../fonts/TT-Norms-Fonts/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TT-Norms-Fonts/TTNorms-Bold.eot');
    src: url('../fonts/TT-Norms-Fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TT-Norms-Fonts/TTNorms-Bold.woff2') format('woff2'),
    url('../fonts/TT-Norms-Fonts/TTNorms-Bold.woff') format('woff'),
    url('../fonts/TT-Norms-Fonts/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TT-Norms-Fonts/TTNorms-Medium.eot');
    src: url('../fonts/TT-Norms-Fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TT-Norms-Fonts/TTNorms-Medium.woff2') format('woff2'),
    url('../fonts/TT-Norms-Fonts/TTNorms-Medium.woff') format('woff'),
    url('../fonts/TT-Norms-Fonts/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.tabs {
    margin: 0px 20px;
    position: relative;
    background: #EFF1E4;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.tabs nav {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    background: #AD9897;
    color: #6C5D5D;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
    width: 150px;
}

.tabs nav a {
    padding: 20px 0px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.tabs nav a:hover,
.tabs nav a.selected {
    background: #6C5D5D;
    color: #AD9897;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.tabs .content {
    padding: 20px 0px;
    position: absolute;
    top: 0px;
    left: 150px;
    color: #6C5D5D;
    width: 0px;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.1s linear 0s;
}

.tabs .content.visible {
    padding: 20px;
    width: calc(100% - 150px);
    overflow: scroll;
    opacity: 1;
}

.tabs .content p { padding-bottom: 2px; }

.tabs .content p:last-of-type { padding-bottom: 0px; }

a, i{
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
}

.header-wrapper{
    margin: 0 auto;
    max-width: 1320px;
    position: relative;
}

.header-block{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-header{
    background-image: url("../img/bg-header.jpeg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.icon-logo{
    background: url("../img/logo-min.svg") no-repeat center center;
    height: 62px;
    width: 155px;
}

.lang a{
    text-transform: uppercase;
    padding: 5px 6px;
    font-family: "TT Norms", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}

.active{
    background: #F0145A;
    border-radius: 8px;
}

.lang{
    margin-right: 20px;
}

.location{
    font-family: "TT Norms", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-right: 20px;
}

.number-phone{
    font-family: "TT Norms", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-right: 26px;
}

.icon-facebook{
    background: url("../img/icon-facebook.svg") no-repeat center center;
    height: 24px;
    width: 24px;
}

.action-wrapper{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.lang-contacts,
.contacts ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lang-contacts{
    margin-bottom: 16px;
}

.nav-unit{
    font-family: "TT Norms", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 15px;
}

.slider-wrapper h1{
    font-family: "TT Norms", sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 45px;
    color: #FFFFFF;
    text-align: center;
}

.slider-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 165px - 65px);
}

.slider-wrapper h1{
    position: relative;
    z-index: 1;
}

.slider-wrapper h1:before{
    content: '';
    background: url("../img/bg-pattern-splash.png") no-repeat center center;
    width: 689px;
    height: 644px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

.slider-wrapper h1:after{
    content: '';
    background: url("../img/logo.png") no-repeat center center;
    width: 420px;
    height: 503px;
    position: absolute;
    top: 177%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.icon-scroll-down{
    background: url("../img/icon-scroll-down.svg") no-repeat center center;
    height: 42px;
    width: 42px;
    margin-bottom: 20px;
}

.scroll-down{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.line-gradient{
    position: absolute;
    height: 200px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
    z-index: 1;
}

/*.slider-wrapper{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    */
/*}*/

/*@media screen and (max-width: 768px) {*/
/*    */
/*}*/